 body {
 font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    color: darkred;
}

header, footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 2em;
    background-color: white;
    margin: 1em auto;
    max-width: 800px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    margin-top: 2em;
}